.head{
    text-align: right;
     margin-bottom: 0px;
}

body{
    text-align: center;
    font-size: 20px;

}
form{
    border-color: black;
    text-align: center;
    border-style: solid;
    margin-left: 300px;
    margin-right: 300px;
}
footer{
    text-align: center;
}
.small{
    font-size: 15px;
}
input{
    font-size: 40px;
}
h1{
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100px;
}
input[type="button"]{
    font-size: 25px;
    text-emphasis-color: blue;
}