*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
}

.btn {
  margin: 50px;
  padding: 12px 30px;
  font-size: 18px;
  background-color: #ffffff;
  color: #bdbbb9;
  border: 1px solid #bdbbb9;
}
